/* Specific Styles for Courses Taken Page */
#course-forms-container {
    width: 100%;
}

.course-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 10px;
}

.course-form label {
    flex: 1;
    margin-right: 10px;
    margin-top: 3px;
}

.course-form select, .course-form input {
    flex: 0;
    margin-right: 10px;
    width: auto;
    padding: 5px;
}

#courses-taken-list {
    margin-top: 20px;
    width: 100%;
}

#courses-taken-ul {
    list-style-type: none;
    padding: 0;
}

#courses-taken-ul li {
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

#courses-taken-ul button {
    margin: 10px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

  .nice-select {
    flex: 4;
  }

  .courseDiv {
    display: flex;
    align-items: center;
  }

  .course-taken-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 