
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background: linear-gradient(180deg, #ba0c2fe9, #646a6e); /* Gradient background */
}

header {
    width: 100%;
    background-color: #ba0c2f;
    color: white;
    padding: 20px 0;
    text-align: center;
    /* max-width: 1200px; */
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    /* max-width: 1200px; */
    padding: 10px;
}

section {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    flex: 1;
    animation: fadeIn 1s ease-in-out;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    header {
        padding: 20px;
    }

    .header-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

strong{
    text-align: center;
}

/* Bordered form */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

form h2 {
    margin-bottom: 15px;
}

form label {
    margin-bottom: 5px;
}

  
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#courseIDInput{
    padding: 10px;
    border: 1px solid #ccc;
}

.register-link{
    margin-top: 10px;
}

.login-link{
    margin-top: 10px;
}


#semester-planner {
    flex: 2;
}

#degree-requirements-container {
    flex: 1;
    padding-left: 20px;
}

#degree-requirements-container h2, #semester-planner h2 {
    margin-top: 0;
}

.requirement {
    margin-bottom: 15px;
}

.requirement ul {
    list-style-type: none;
    padding: 0;
    margin-top: 2px;
}

.requirement h4 {
    margin-top: 1px;
    margin-bottom: 2px;
}

.requirement h5{
    margin: 2px;
}

.requirement button {
    margin-top: 4px;
}

.requirement.fulfilled {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 5px;
}

.semester-row {
    margin-bottom: 20px;
}

.semester {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    align-items: center;
}


.course-box {
    border: 1px solid #ddd;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* width: calc(33% - 11px); 
    box-sizing: border-box;  */
}

/* .course-box select {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(33% - 11px); 
    box-sizing: border-box; 
    appearance: auto;

} */

.add-course {
    cursor: pointer;
    background-color: #ba0c2f;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    font-size: 16px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.add-course:hover {
    background-color: #d20d0d;
}

.remove-course {
    cursor: pointer;
    color: #ff0000;
    margin-left: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ba0c2f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 5px;
    transition: all 0.5s;
}

button:hover {
    background-color: #d20d0d;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
button:hover span {
    padding-right: 25px;
}
  
button:hover span:after {
    opacity: 1;
    right: 0;
}


.schedule {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.schedule h4 {
    margin-bottom: 10px;
}

.schedule button {
    margin-right: 10px;
}
/* 
#schedule-container {
    animation: fadeIn 1s ease-in-out;
} */

.schedule div {
    align-items: center;
    display: flex;
    animation: fadeIn 1s ease-in-out;
}

.menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
}

.modal-content img{
    display: block;
    width: 15%;
}

.modal-content input {
    width: 80%
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Loading Element */
.loader {
    /* color of choise */
    --clr: #ba0c2f;
    /* loading time of choice */
    --load-time: 1.5s;
    outline: 5px solid var(--clr);
    outline-offset: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 5rem;
    /* width: 10rem; */
    /* height: 2rem; */
    padding: 1rem 5rem;
    /* use either padding or width + height*/
    /* I prefer the padding one */
    /* rotate: -90deg; */
    /* rotate if you want/need vertical loader */
  }
  
  .loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr);
    z-index: 2;
    animation: loading var(--load-time) ease-in-out infinite;
  }
  
  @keyframes loading {
    0% {
      width: 0%;
    }
  
    100% {
      width: 100%;
    }
  }
  


  /* Manual Course Adding */
#manualCourseHeading{
    margin: 0px;
}

#manualCourseInput, #manualSemesterSelect, #manualCourseBtn {
    margin-right: 5px;
    padding: 5px;
    width: 100px
}

#manualCourseInput {
    width: auto;
}

#manualCourseBtn {
    background-color: #b31b1b;
    color: white;
    border: none;
    cursor: pointer;
}

#manualCourseBtn:hover {
    background-color: #a31b1b;
}

/*adding course */
.completed-course {
    color: green; /* or any color you prefer */
}

/* Requirements section */
.requirement-header {
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.requirement-content {
    margin-top: 10px;
    padding-left: 20px;
}

input {
    border: 1px solid #ccc;
    border-radius: 4px;
}  
