<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compare Degrees</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/courses_taken.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Compare Degrees</h1>
        <div class="header-buttons">
            <button onclick="logout()"><span>Logout</span></button>
            <button onclick="homepage()"><span>Home Page</span></button>
        </div>
    </header>
    <main>
        <section id="courses-taken">
            <h2>Courses Taken</h2>
            <form id="courses-taken-form" onsubmit="submitCoursesTaken(event)">
                <div id="course-forms-container">
                    <!-- Course input forms will be dynamically added here -->
                    <div class="course-form">
                        <div>
                            <label for="course-select-0">Select Course:</label>
                            <select id="course-select-0" name="course-0" class="course-select">
                                <!-- Options will be dynamically populated -->
                            </select>
                        </div>

                        <div>
                            <label for="semester-select-0">Select Semester:</label>
                            <select id="semester-select-0" name="semester-0">
                                <option value="AU">Autumn</option>
                                <option value="SP">Spring</option>
                                <option value="SU">Summer</option>
                            </select>
                        </div>

                        <div>
                            <label for="year-select-0">Select Year (last 2 digits):</label>
                            <input type="number" id="year-select-0" name="year-0" min="18" max="24" required>
                        </div>
                    </div>
                    <hr>
                </div>
                <button type="button" onclick="addCourseForm()">Add Another Course</button>
                <button type="submit">Add Courses</button>
            </form>

        </section>

        <section>
            <div id="courses-taken-list">
                <h3>Your Courses Taken:</h3>
                <ul id="courses-taken-ul">
                    <!-- List of courses taken will be displayed here -->
                </ul>
            </div>
        </section>

    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="static/js/courses_taken.js"></script>
</body>
</html>
