<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSU Degree Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>OSU Degree Planner</h1>
        <div class = "header-buttons">
            <button onclick="logout()"><span>Logout</span></button>
            <button onclick="saveSchedule()"><span>Save Schedule</span></button>
            <button onclick="newSchedule()"><span>New Schedule</span></button>
            <button id="lookupPrereqBtn">Lookup Class Prerequisite</button>

        </div>
    </header>
    <div id="prerequisiteModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Lookup Class Prerequisite</h2>
            <input type="text" id="courseIDInput" placeholder="Enter Course ID">
            <button id="lookupPrereqSubmit">Submit</button>
            <div id="prerequisiteResult"></div>


        </div>
    </div>


    
    <main>
        <section id="semester-planner">
            <h2>Semester Planner</h2>
            <div id="semester-rows">
                <!-- Semester rows will be added dynamically here -->
            </div>

            <div id = 'add-semester-div'>
                <button id='add-semester-button' onclick="addSemester()">Add Semester</button>
            </div>
        </section>

        <section id="degree-requirements-container">
            <h2>Degree Requirements</h2>
            <div id="degree-requirements">
                <!-- Degree requirements will be displayed here by JavaScript -->
            </div>
        </section>

    </main>

    <input type="hidden" id="schedule-id" value="{{ schedule_id }}">

    <script src="static/js/script.js"></script>
</body>
</html>
