<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSU Degree Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <style>
        .autocomplete-dropdown {
            border: 1px solid #ccc;
            max-height: 150px;
            overflow-y: auto;
            position: absolute;
            background-color: white;
            z-index: 1000;
            width: calc(100% - 2px); /* Ensure the width matches the input field */
        }
        .autocomplete-item {
            padding: 8px;
            cursor: pointer;
        }
        .autocomplete-item:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>
<body>
    <header>
        <h1>OSU Degree Planner</h1>
        <div class = "header-buttons">
            <button onclick="logout()"><span>Logout</span></button>
            <button onclick="saveSchedule()"><span>Save Schedule</span></button>
            <button id ="newScheduleBtn"><span>New Schedule</span></button>
            <button id="lookupPrereqBtn"><span>Lookup Class Prerequisite</span></button>

        </div>
    </header>
    <div id="prerequisiteModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Lookup Class Prerequisite</h2>
            <input type="text" id="courseIDInput" placeholder="Enter Course ID">
            <button id="lookupPrereqSubmit">Submit</button>
            <div id="prerequisiteResult"></div>
        </div>
    </div>

    <div id="newScheduleModal" class="modal">
        <div class="modal-content">
            <h2>Do You Want To Save This Schedule?</h2>
            <button id="newScheduleYes">Yes</button>
            <button id="newScheduleNo">No (Return back to Home Page)</button>
        </div>
    </div>

    <div id="loadedScheduleModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Do You Want To Update The Current Schedule Or Create A New One?</h2>
            <button id="loadedScheduleUpdate">Update</button>
            <button id="loadedScheduleNew">Create New</button>
        </div>
    </div>

    <div id="saveScheduleModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Enter A Name For Your Schedule:</h2>
            <input type="text" id="scheduleNameInput" placeholder="Enter Schedule Name">
            <button id="schdeuleNameSubmit">Submit</button>
        </div>
    </div>

    <div id="messageModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="message" style="text-align: center;"></h2>
            <img src="/static/imgs/sadbrutus.png">
            <button id="messageOkay">OK</button>
        </div>
    </div>

    <div id="waitModal" class="modal">
        <div class="modal-content" style="text-align: center;">
            <h2 id="waitMessage">Please Wait Your Degree Plan Is Being Loaded</h2>
            <div class="loader"></div>
        </div>
    </div>

    <div id="validCoursesModal" class="modal">
        <div class="modal-content requirement">
            <span class="close">&times;</span>
            <ul id="validCourses" style="text-align: center;"></ul>
            <button id="validCoursesOkay">OK</button>
        </div>
    </div>

    
    <main>
        <section id="semester-planner">
            <h2>Semester Planner</h2>
            <div>
                <h5 id="manualCourseHeading">Manually Add Course</h5>
                <input type="text" id="manualCourseInput" placeholder="Enter Course ID">
                <select id="manualSemesterSelect">
                    <!-- Options will be dynamically populated -->
                </select>
                <button onclick="addManualCourse()">Add Course</button>
            </div>
            

            <div id="semester-rows">
                <!-- Semester rows will be added dynamically here -->
            </div>

            <div id = 'add-semester-div'>
                <button id='add-semester-button' onclick="addSemester()">Add Semester</button>
                <button id='remove-semester-button' onclick="removeSemester()">Remove Semester</button>
            </div>
        </section>

        <section id="degree-requirements-container">
            <h2>Degree Requirements</h2>
            <div id="degree-requirements">
                <!-- Degree requirements will be displayed here by JavaScript -->
            </div>
        </section>

    </main>

    <input type="hidden" id="schedule-id" value="{{ schedule_id }}">

    <script src="static/js/script.js"></script>
</body>
</html>
