<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Major</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Select Major</h1>
        <h5> Home Page </h5>
        <div class = "header-buttons">
            <button onclick="logout()"><span>Logout</span></button>
        </div>
    </header>
    <main>
        <section id = "major-selection">

            <form method="POST" action="{{ url_for('select_major') }}">
                <h2>Select Degree:</h2>
                
                <select id="college" name="college" onchange="fetchMajors()">

                    <option value="">Select College</option>

                    <option value="AGR">
                        AGR - Food Agricultural and Environmental Sciences
                    </option>

                    <option value="AHR">
                        AHR - Architecture
                    </option>

                    <option value="ASC">
                        ASC - Arts and Sciences
                    </option>

                    <option value="ATI">
                        ATI - Agricultural Technical Institute
                    </option>

                    <option value="BUS">
                        BUS - Business
                    </option>

                    <option value="DHY">
                        DHY - Dental Hygiene
                    </option>

                    <option value="EHE">
                        EHE - Education and Human Ecology
                    </option>

                    <option value="ENG">
                        ENG - Engineering
                    </option>

                    <option value="ENR">
                        ENR - Environment and Natural Resources
                    </option>

                    <option value="HRS">
                        HRS - Health and Rehabilitation Sciences
                    </option>

                    <option value="JGS">
                        JGS - John Glenn College of Public Affairs
                    </option>

                    <option value="LAW">
                        LAW - Law
                    </option>

                    <option value="MED">
                        MED - Medicine
                    </option>

                    <option value="NUR">
                        NUR - Nursing
                    </option>

                    <option value="PBH">
                        PBH - Public Health
                    </option>

                    <option value="PHR">
                        PHR - Pharmacy
                    </option>

                    <option value="SWK">
                        SWK - Social Work
                    </option>
                </select>

                <select id="major" name="major" onchange="fetchPrograms()">
                    <option value="">Select Major</option>
                    <!-- Majors will dynamically populate -->
                </select>

                <select id="program" name="program">
                    <option value="">Select Program</option>
                    <!-- Programs will dynamically populate -->
                </select>





                <button type="submit">
                    <span>Submit</span> 
                </button>
            </form>

        </section>

        <section id = "saved-schedules">
            <h2> Your Saved Degree Plans </h2>

            <div id="schedule-container">
                <!-- Schedules will be displayed here dynamically -->
            </div>

        </section>


    </main>

    <script src="static/js/select_degree.js"></script>

    </script>
</body>
</html>
